body 
{
	text-align: center;
	background-image: url("hppresents.jpg");
	background-size: cover;
	font-size: 45pt;
	color: #37110A;
	font-family: 'sf_slapstick_comicregular';
}
	.HP 
	{
		opacity: 0.8;
		margin: auto; 
		width: 430px;
		height: 430px;
		position: absolute; 
		top: 60;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
td:hover 
{
	color: #572009;
	opacity: 0.1;
	transition: 5s;
	font-size: 35pt;
}
